[user]
	name = d3fvxl
	email = m.bovtunov@efg.gg
[core]
	autocrlf = input
[hub]
	protocol = ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
